In [18]:
#multiple arguments taken in the function

def Funtion1(*args,**kwargs):
    print(args)
    print(kwargs)
    print(kwargs.keys())
    print(kwargs.values())

In [19]:
Funtion1(1,2,3,4,5,name='Yujan')   #args multiple arguments taken and is  represented by *

(1, 2, 3, 4, 5)
{'name': 'Yujan'}
dict_keys(['name'])
dict_values(['Yujan'])

In [2]:
d={1:'one',2:'two',3:'three'}     #declaring dictionary

In [3]:
d.keys()

dict_keys([1, 2, 3])

In [4]:
d.values()

dict_values(['one', 'two', 'three'])

In [5]:
d.items()      #Shows all the keys with their values

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [6]:
d[1]

'one'

In [7]:
d.get(1,'nothing')    #helps in getting the values if they exixsts in the dicitonary

'one'

In [8]:
del d[1]                     #deletion

In [9]:
d.values()

dict_values(['two', 'three'])

In [10]:
d.pop(3)            #For deletion from last

'three'

In [11]:
d

{2: 'two'}

In [16]:
d[0]='zero'   #For single value

In [15]:
d

{2: 'two', 0: 'zero'}

In [17]:
d.update({1:'EK',4:'Four'})    #For multiple updating the value

In [18]:
d

{2: 'two', 0: 'zero', 1: 'EK', 4: 'Four'}

In [19]:
d[1]='One'

In [20]:
d    #print all values and keys

{2: 'two', 0: 'zero', 1: 'One', 4: 'Four'}

In [21]:
d[1]   #prints key [1] value

'One'

In [23]:
for i,j in d.items():   #Here d.items() acces both keys and values and there is multiple variable i and j as well.
    print(i,'=',j)

2 = two
0 = zero
1 = One
4 = Four

In [24]:
##List

In [47]:
li=[1,2,3,4,5,6]  #list is here

In [48]:
li[3]  # accesing the single value

4

In [49]:
li[3:]  #accesing the index 3 and more

[4, 5, 6]

In [50]:
li[-1]  #accesing the last

6

In [51]:
#Show even to 0 
#Show Odd to 1

In [52]:
#map function
def f1(i):
    if(i%2==0):
        return 0
    else:
        return 1

In [58]:
ans=map(f1,li)   #map function

In [57]:
list(ans)       #Type casting the map gunction to list

[1, 0, 1, 0, 1, 0]

In [60]:
#Using lamda Function
ans1=map(lambda x : 0 if x%2==0 else 1 , li )
list(ans1)

[1, 0, 1, 0, 1, 0]

In [62]:
#lambda Function

In [64]:
a= lambda x : 0 if x%2==0 else 0

In [66]:
a(2)

0

In [67]:
b= lambda *ab ,**bc : print(ab) or print(bc)

In [70]:
b(1,2,3,4,5, name='yujan')

(1, 2, 3, 4, 5)
{'name': 'yujan'}

In [79]:
#filter
lis=(1,2,3,4,5,6,7,8,9)
ans=filter(lambda x : 0 if x%2==0 else 1,lis)

In [80]:
#printing only odd
list(ans)

[1, 3, 5, 7, 9]

In [81]:
# reduce has only one value
from functools import reduce

In [84]:
ans=reduce(lambda a,b: a+b,lis)

In [86]:
#printing the output
ans

45